{
  "presets": [
    "@babel/preset-typescript",
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": [
    "inline-react-svg",
    "@babel/plugin-transform-react-jsx",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ]
  ]
}